<svg [attr.viewBox]="'0 0 200 ' + lights.length*10">
  <circle *ngFor="let light of lights;index as i;" cx="5" [attr.cy]="5+10*i" r="5" [ngClass]="{'active':curLight && curLight.name == light.name}" [ngStyle]="{'fill':curLight && curLight.name == light.name?curLight.color:'#2F4F4F'}" />
</svg>
<br />
<button (click)="reset()">Reset</button>
